// /*=========================АДАПТИВНЫЙ ШРИФТ=========================*/
// /*миксин возвращает адаптивный шрифт между указанными ширинами экранов,
// за пределами этих ширин шрифт оставляет неизменными свои указанные
// крайние значения, т.е. миксин на вход получает следующие параметры:
// - $bigFont - шрифт которой мы хотим получить при ширине экрана $bigView,
// - $smallFont - шрифт которой мы хотим получить при ширине экрана $smallView,
// соответственно в промежутке между указанными ширинами экранов - шрифт
// будет изменятся линейно*/
@mixin responsiveFont($bigFont, $smallFont, $bigView, $smallView) {
	//http://fvsch.com/code/css-locks/
	// y = m * x + b - уравнение прямой, где:
	// y - вертикальная ось с нужными нам шрифтами,
	// x - горизонтальная ось с шириной экрана (вьюпорта),
	// b - промежуток между пересечением графика (в данном случае это
	// функция прямой линии) с вертикальной осью x,
	// m - наклон прямой (степерь прироста координаты y при
	// каждом увеличении вьюпорта на 1px);

	$m: ($bigFont - $smallFont) / ($bigView - $smallView);
	$b: $smallFont - ($m * $smallView);

	@media only screen and (min-width: $smallView) {
		font-size: calc(#{$m} * 100vw + #{$b});
	}

	@media only screen and (min-width: $bigView) {
		font-size: $bigFont;
	}
}
