.button {
  display: inline-block;
  white-space: nowrap;
  min-width: 220px;
  padding: 10px 20px;
  text-align: center;
  background-color: black;
  color: #fff;
  font-family: $system-font;
  @media (max-width: 500px) {
    width: 100%;
    max-width: none;
  }
}
