/** 
 * @section Формы
 */
input:invalid {
	border-color: red;
	outline: 0;
}

input:valid {
	border-color: green;
}

input {
	border: 0;
}

/* @subsection placeholder */
input::-webkit-input-placeholder {
	color: #333;
	text-overflow: ellipsis;
}

input::-moz-placeholder {
	/* Firefox 19+ */
	color: #333;
	text-overflow: ellipsis;
}

input:-moz-placeholder {
	/* Firefox 18- */
	color: #333;
	text-overflow: ellipsis;
}

input:ms-placeholder {
	color: #333;
	text-overflow: ellipsis;
}

textarea::-webkit-input-placeholder {
	color: #333;
	text-overflow: ellipsis;
}

textarea::-moz-placeholder {
	/* Firefox 19+ */
	color: #333;
	text-overflow: ellipsis;
	line-height: 100px;
}

textarea:-moz-placeholder {
	/* Firefox 18- */
	color: #333;
	text-overflow: ellipsis;
}

textarea:ms-placeholder {
	color: #333;
	text-overflow: ellipsis;
}

/* @subsection placeholder при нажатие */
input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	/* Firefox 19+ */
	color: transparent;
}

input:focus:-moz-placeholder {
	/* Firefox 18- */
	color: transparent;
}

input:focus:ms-placeholder {
	color: transparent;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

textarea:focus::-moz-placeholder {
	/* Firefox 19+ */
	color: transparent;
}

textarea:focus:-moz-placeholder {
	/* Firefox 18- */
	color: transparent;
}

textarea:focus:ms-placeholder {
	color: transparent;
}

/* @subsection textarea */
textarea {
	resize: vertical;
}

/* @subsection fieldset */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/* @subsection Размытие формы после нажатия */
.form-success {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	span {
		margin: auto;
		display: block;
		color: #fff;
	}
	& ~ * {
		transition: all 0.5s ease;
	}
	&.active {
		& ~ * {
			opacity: 0.5;
			filter: blur(10px);
		}
	}
}
