/**
 * @section классы шрифтов
 */

//- Переменные
@import "../variables.scss";

/* Шрифт заголовка */
.f-heading {
  font-family: $system-font;
}
.webfont-loaded .f-heading {
  font-family: $font-heading;
}

/* Шрифт подзаголовка */
.f-subheading {
  font-family: $system-font;
}
.webfont-loaded .f-subheading {
  font-family: $font-subheading;
}

/* Шрифт текста*/
.f-text {
  font-family: $system-font;
}
.webfont-loaded .f-text {
  font-family: $font-text;
}

/* Шрифт акцентного текста */
.f-accent {
  font-family: $system-font;
}
.webfont-loaded .f-accent {
  font-family: $font-text-accent;
}

/* Шрифт дополнительный */
.f-add {
  font-family: $system-font;
}
.webfont-loaded .f-add {
  font-family: $font-additional;
}
