@import "_variables.scss";

/**
 * @section Body
 */
a {
	outline: none;
}

* {
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	min-width: 320px;
	line-height: 1.75;
	overflow-x: hidden;
	opacity: 1;
	font-family: $system-font;
}

/**
 * @section Page content
 */
main {
	display: block;
}
