// Системные шрифты
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $system-font2: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
//   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Colors

// Подключенные шрифты
$font-heading: "FontName", $system-font;
$font-subheading: "FontName", $system-font;
$font-text: "FontName", $system-font;
$font-text-accent: "FontName", $system-font;
$font-additional: "FontName", $system-font;


